<ion-header>
    <ion-navbar>
        <ion-title>Uploader</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <p>{{ imageURI }}</p>
        <button ion-button color="secondary" (click)="upload()">Get Image</button>
    </ion-item>
    <ion-item>
        <h4>Image Preview</h4>
        <img src="{{imageURI}}" *ngIf="imageURI" alt="Ionic File" width="300" />
    </ion-item>
    <ion-item>
        <button ion-button (click)="uploadFile()">Upload</button>
    </ion-item>
    <p *ngIf="Err">{{ Err | json }}</p>
</ion-content>