<ion-header>
    <ion-navbar>
        <ion-title>Liste des fichiers</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-fab top right edge>
        <button ion-fab (click)="upload()">
            <ion-icon name="download"></ion-icon>
        </button>
    </ion-fab>

    <ion-refresher (ionRefresh)="updateDataList($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>

    <p *ngIf="dataList.length == 0">Aucun fichier importé...</p>

    <ion-list>
        <ion-item-sliding *ngFor="let item of dataList">
            <button ion-item (click)="goToStat(item)">
                {{item}}
            </button>
            <ion-item-options side="left">
                <button ion-button icon-trash color="danger" (click)="delete(item)">
                    <ion-icon name="archive"></ion-icon>
                    Supprimer
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

</ion-content>